.card {
  border-radius: 7px;
  box-shadow: var(--box-shadow);
  overflow: hidden;
}

.image {
  width: 100%;
  height: auto;
  /* height: 200px; */
}

.infoBlock {
  padding: 0 30px 30px;
}

.heading {
  color: black;
  font-size: 1.25rem;
}

.infoList {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: rgba(0, 0, 0, 0.75);
  line-height: 1.5;
}

.infoList span {
  font-weight: 600;
}

.link {
  text-decoration: none;
}