.pageContent {
  display: flex;
  align-items: center;
  column-gap: 80px;
}

.flagBlock,
.infoBlock {
  flex: 1;
}

.flagImage {
  width: 100%;
  height: auto;
  border: 1px solid rgb(232, 232, 232);
}

.flexContainer {
  display: flex;
  column-gap: 40px;
}

.flexContainer>dl {
  flex: 1;
}

.backButtonWrapper {
  margin: 40px 0;
}

.backButton {
  cursor: pointer;
  border: none;
  border-radius: 7px;
  padding: 10px 40px;
  box-shadow: var(--box-shadow);
  background-color: var(--accent-color2);
}

.borderCountriesList {
  display: inline;
  list-style-type: none;
  padding: 0;
  line-height: 1;
}

.borderCountriesList>li {
  display: inline-block;
  padding: 5px 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid #f1f1f1;
  text-align: center;
  min-width: 95px;
}

.borderCountriesList>li+li {
  margin-left: 0.5rem;
}