:root {
    --accent-light-color1: white;
    --accent-light-color2: #fafafa;
    --card-color: black;
    --filter-color: black;
    --search-input-color: black;
    --heading-color: black;
    --back-button-color: black;
    --fullinfo-block-color: black;
    --borders-link-color: black;
    --theme-swithcer-color: black;
    --box-shadow: 0 0 10px gray;

    font-size: 16px;
}

.theme-dark {
    --accent-light-color1: #2b3743;
    --accent-light-color2: #202d36;
    --card-color: white;
    --filter-color: white;
    --search-input-color: white;
    --heading-color: white;
    --back-button-color: white;
    --fullinfo-block-color: white;
    --borders-link-color: white;
    --theme-swithcer-color: white;
    --box-shadow: 0 0 10px black;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--accent-light-color2);
    font-family: "Nunito Sans", sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

dd,
dt {
    display: inline;
    margin: 0;
    line-height: 1.5;
}

dt {
    font-weight: 600;
}

dd {
    margin-left: 0.5rem;
}

dd::after {
    content: "";
    display: block;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    white-space: nowrap;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
}