:root {
  --accent-light-color1: #fff;
  --accent-light-color2: #fafafa;
  --box-shadow: 0 0 10px silver;

  font-size: 16px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--accent-light-color2);
  font-family: "Nunito Sans", sans-serif;
}

.container {
  max-width: 1284px;
  margin: 0 auto;
}