@use "../../scss/vars";

.container {
    max-width: vars.$container-width;
    margin: 0 auto;

    @media screen and (max-width: vars.$container-width) {
        padding: 0 30px;
    }
}

.tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;

    @media screen and (max-width: vars.$breakpoint2) {
        display: block;
    }
}

.searchInputWrapper {
    position: relative;
    width: 30%;

    @media screen and (max-width: vars.$breakpoint2) {
        width: auto;
    }
}

.searchInput {
    width: 100%;
    padding: 20px 5px 20px 50px;
    border: none;
    border-radius: 7px;
    box-shadow: var(--box-shadow);
    background-color: var(--accent-color1);
    color: var(--search-input-color);
}

.searchInputIcon {
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1rem;
}

.searchInputIcon>path {
    fill: var(--search-input-color);
}

.selectRegionFilter {
    padding: 20px 5px;
    border: none;
    border-radius: 7px;
    box-shadow: var(--box-shadow);
    background-color: var(--accent-color1);
    color: var(--filter-color);

    @media screen and (max-width: vars.$breakpoint2) {
        margin-top: 30px;
    }

    &>option:not(:first-child) {
        color: black;
    }
}

.cardList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 60px;
    margin-bottom: 30px;

    @media screen and (max-width: vars.$breakpoint1) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    @media screen and (max-width: vars.$breakpoint2) {
        grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: vars.$breakpoint3) {
        grid-template-columns: 1fr;
    }
}